// Masonry Grid
.home__work--container {
  width: auto;
  margin: 20px auto;
  margin-top: 110px;
  padding: 0;
  columns: 4;
  column-gap: 40px;
}

.home__work--container .home__work--item {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  break-inside: avoid;
}

.home__work--container .home__work--item:hover {
  background-color: #ededed;
}

.home__work--image {
  max-width: 100%;
}

.home__work--label {
  position: absolute;
  top: 0;
  left: 0;
}

.home__work--label img {
  width: 50px;
}

.home__work--title {
  margin: 15px 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
}

.home__work--category {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #707070;
  &:hover{
    color: black;
  }
}

.home__work--description {
  font-size: 14px;
  font-weight: 200;
}

.home__work--link {
  font-weight: 600;
  color: #2a2a2a;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

@media(max-width: 1200px){
  .home__work--container {
    columns: 3;
    width: calc(100% -40px);
    box-sizing: border-box;
    padding: 0;
    // padding: 20px 20px 20px 0;
  }
}

@media(max-width: 768px){
  .home__work--container {
    columns: 2;
  }
}

@media(max-width: 480px){
  .home__work--container {
    columns: 1;
  }
}
